#MainLayout {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  padding: 2rem;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

pre {
  white-space: pre-wrap; /* Ensure code blocks wrap */
}

:root {
  --dark-bg-color: rgba(42, 42, 46, 1);
  --dark-font-color: rgba(249, 249, 250, 0.8);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
  }

  a:link {
    color: #f3d009;
  }

  a:visited {
    color: #d39c06;
  }
}
